### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
terraform.iml
.idea/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml
.terraform
terraform-infra.iml
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
.terraform.tfstate.lock.info

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.idea/
.vscode/
.aws-sam/
target/
.terraform.lock.hcl
